/* CSS Reset */
h1,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 100%;
}

/* Layouts */
.wrapper {
  width: 400px;
  margin: 100px auto;
  overflow: hidden;
  box-shadow: 0 0 5px 2px rgb(205, 199, 199);
  border-radius: 28px;
}

/* Components */
body {
  background-color: #dddddd;
}

header {
  background-color: #ffffff;
  padding: 35px 0;
}

h1.title {
  color: #ff1593;
  border-left: 8px solid;
  font-size: 25px;
  font-weight: 900;
  padding-left: 0.8em;
}

.list {
  background-color: #efefef;
  padding: 20px;
  border-top: 4px solid #d9d9d9;
}

li {
  margin: 10px;
  border: 4px solid #aaaaaa;
  border-radius: 7px;
  padding: 10px 15px;
}

li.point {
  border-color: #1d90ff;
  color: #1d90ff;
}

.point {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(/images/check.png);
  background-repeat: no-repeat;
  background-position: 95%;
}
