/* Animation */
@keyframes rolling {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-20%);
  }
  50% {
    transform: translateY(-40%);
  }
  75% {
    transform: translateY(-60%);
  }
  100% {
    transform: translateY(-80%);
  }
}

/* CSS Reset */
body,
h1,
h2,
h3,
p,
ul,
dl,
dd {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

h1,
h2,
h3 {
  font-size: 100%; /* 원래 크기로 가겠다는 의미 */
  font-weight: normal;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  background-color: #111;
  color: #999;
}

.portrait {
  background-image: url(img/ground.jpg);
  background-size: cover; /* 이미지의 비율이 그대로 유지된 상태에서 자신의 너비기준으로 조절됨*/
  background-position: center;
  padding-top: 56.25%; /* 9%16 = 0.5625를 퍼센테이지로 변환 ( 16: 9 비율 구하는법) */
}

.profile {
  padding: 7%;
  min-height: 5000px;
}

.profile-section h2 {
  border-top: 3px solid;
  color: orangered;
  margin-bottom: 30px;
  padding: 0.5em 0;
  position: sticky;
  top: 0;
  background-color: #111;
  box-shadow: 0 0 50px 10px #111;
}

.profile-header,
.profile-section {
  padding-bottom: 8%;
}

.profile-header p {
  margin-bottom: 40px;
}

.name {
  font-size: 30px;
  line-height: 1.5;
  margin-bottom: 40px;
  font-family: 'Urbanist', sans-serif;
  position: sticky;
  top: -1.5em;
  background-color: #111;
  box-shadow: 0 0 50px 10px #111;
}

.name-job {
  display: inline-block;
  color: white;
  vertical-align: top; /* baseline의 기준을 Top으로 맞춰줌 */
  height: 1.5em;
  overflow: hidden;
  padding-right: 0.5em;
  position: relative;
}

.name-job::after {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin-left: -1em;
  box-shadow: inset 0 0 10px 10px #111;
}

.name-job-list {
  animation-name: rolling;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

.name-title {
  font-size: 1.5em; /* .name의 폰트값 30p이 상속되고, 여기에서 1.3배가 되는것 ! */
  line-height: 1;
  color: deeppink;
  position: relative;
}

.timeline {
  font-size: 0.7rem;
}

.timeline li {
  padding-bottom: 30px;
}

.timeline li h3 {
  color: orange;
  float: left;
  font-size: 1rem;
  padding-top: 0.1em;
  margin-right: 0.5em;
}

.graph li {
  background: rgb(178, 48, 242);
  background: linear-gradient(
    90deg,
    rgba(178, 48, 242, 1) 0%,
    rgba(103, 154, 255, 1) 50%,
    rgba(0, 249, 255, 1) 100%
  );
  color: black;
  padding: 0.5em 1.2em;
  margin: 0.4em 0;
  border-radius: 50px;
  box-sizing: border-box;
}

.graph li::before {
  content: attr(data-score);
  float: right;
}

.graph li[data-score='100%'] {
  width: 100%;
}
.graph li[data-score='90%'] {
  width: 90%;
}
.graph li[data-score='80%'] {
  width: 90%;
}
.graph li[data-score='70%'] {
  width: 70%;
}
.graph li[data-score='60%'] {
  width: 60%;
}
.graph li[data-score='50%'] {
  width: 50%;
}

.list dt {
  color: orange;
  float: left;
  width: 3em;
}

.list dd {
  overflow: hidden;
}

@media (min-width: 768px) {
  .portrait {
    position: fixed;
    left: 0;
    top: 0;
    width: 60vw;
    height: 100vh;
    padding: 0;
  }
  .profile {
    margin-left: 60vw;
  }
  .name {
    font-size: 3.2vw;
  }
  .timeline {
    margin: 0 -10px;
  }
  .timeline li {
    width: 50%;
    padding: 0 10px;
    box-sizing: border-box;
  }
  .timeline li:nth-child(even) {
    margin-left: auto;
    margin-top: -30px;
    margin-bottom: -30px;
  }
}
